<!DOCTYPE html>
html(lang="en")
  include partials/head
  body
    include partials/header
    include partials/navigation
    p #{name}
    div.headers
      each header in headers
        div.header
          strong= header.key + ": "
          span= header.value
