<!DOCTYPE html>
html(lang="en")
  include partials/head
  body
    include partials/header
    include partials/navigation
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores porro facilis perferendis amet consequuntur, voluptates, autem sapiente natus aperiam odit impedit nulla aspernatur possimus at itaque quibusdam exercitationem? Earum.
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores porro facilis perferendis amet consequuntur, voluptates, autem sapiente natus aperiam odit impedit nulla aspernatur possimus at itaque quibusdam exercitationem? Earum.
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores porro facilis perferendis amet consequuntur, voluptates, autem sapiente natus aperiam odit impedit nulla aspernatur possimus at itaque quibusdam exercitationem? Earum.
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque dolores porro facilis perferendis amet consequuntur, voluptates, autem sapiente natus aperiam odit impedit nulla aspernatur possimus at itaque quibusdam exercitationem? Earum.
